@use "../utils/" as util;

.game {
	&-container {
		@include util.flex();
		width: 100vw;
		height: 100vh;
	}

	&-text {
		line-height: 1.5;

		@media screen and (min-width: util.$lg) {
			font-size: util.Rem(20);
		}

		& + .game-text {
			margin-top: util.Rem(24);
		}

		&.__bold {
			font-size: util.Rem(24);
			font-weight: util.$bold;
		}

		&.__gameover {
			font-size: util.Rem(24);
			font-weight: util.$bold;
			color: util.$orangemid;
			text-transform: uppercase;
		}
	}

	&-buttons {
		margin-top: util.Rem(40);
		display: grid;
		gap: util.Rem(24);

		@media screen and (min-width: util.$lg) {
			margin-top: util.Rem(48);
		}

		&.__twocol {
			@media screen and (min-width: util.$lg) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	&-button {
		background: none;
		border: none;
		color: util.$color-white;
		position: relative;
		padding: 1rem 3rem;
		border: 2px solid util.$color-white;
		border-radius: util.Rem(16);
		line-height: 1.4;
		font-size: util.Rem(12);
		width: 100%;

		&:focus-visible {
			outline: none;
		}

		&:hover,
		&:focus {
			color: util.$orangemid;
			border-color: util.$orangemid;

			&::before {
				content: ">";
				position: absolute;
				top: 50%;
				left: 1.25rem;
				transform: translateY(calc(-50% + 2px));
				font-size: util.Rem(20);
			}
		}
	}
}
