@use "../utils/" as util;

.game {
	&-container {
		@include util.flex();
		width: 100vw;
		height: 100vh;
	}

	&-text {
		font-size: util.Rem(20);
		line-height: 1.3;

		@media screen and (min-width: util.$lg) {
			font-size: util.Rem(24);
		}
	}

	&-buttons {
		@include util.flex($dir: column, $align: stretch, $gap: util.Rem(24));
		margin-top: util.Rem(60);

		@media screen and (min-width: util.$lg) {
			margin-top: util.Rem(75);
		}
	}

	&-button {
		background: none;
		border: none;
		color: util.$color-white;
		position: relative;
		padding: 1rem 3rem;
		border: 2px solid util.$color-white;
		border-radius: util.Rem(16);
		line-height: 1.4;
		font-size: util.Rem(12);
		width: 100%;

		&:focus-visible {
			outline: none;
		}

		&:hover,
		&:focus {
			color: util.$orangemid;
			border-color: util.$orangemid;

			&::before {
				content: ">";
				position: absolute;
				top: 50%;
				left: 1.25rem;
				transform: translateY(calc(-50% + 2px));
				font-size: util.Rem(20);
			}
		}
	}
}
